Simple ensemble top submit. This notebook help anyone to easy check ensemble. Add more files if you want to check !!!

In [1]:
import numpy as np
import pandas as pd

In [2]:
all_files = [
    'predictions/selecsls42b_MANet_0222-2156.csv',
    'predictions/selecsls60_manet_0221-2302.csv',
    'predictions/selecsls42b_manet_0221-1558.csv',
]

dfs = [pd.read_csv(file) for file in all_files]

In [3]:
preds = pd.concat([(df.label > 0.9) for df in dfs], axis=1).sum(axis=1)

In [4]:
sub = dfs[0].copy()
sub['label'] = 1 * (preds >= ((len(dfs) + 1) // 2))

print(sub.label.value_counts().sort_index())
sub.head()

0    783929
1     68039
Name: label, dtype: int64

  tile_row_column  label
0      Tile00_0_0      0
1      Tile00_0_1      0
2      Tile00_0_2      0
3      Tile00_0_3      0
4      Tile00_0_4      0

In [5]:
sub.to_csv('submission.csv', index=False)